.ideas {
  margin-top: 2rem;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, 450px);
  justify-content: center;
  gap: 1rem;
}

.idea {
  text-align: center;
  border: 1px solid black;
  padding: 5rem;
  border-radius: 10px;
}

.skill {
  margin-right: 10px;
}
