.inputForm {
  display: flex;
  border-top: 2px solid #d3d3d3c2;
}

.input {
  border: none;
  border-radius: 0;
  padding: 2%;
  width: 80%;
  font-size: 1rem;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.sendButton {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: #5c88d3;
  padding: 5px;
  display: inline-block;
  border: none;
  width: 20%;
}
